---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import { ClientRouter } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teja Koduru // notebook</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Nav />
    <main>
      <slot /> </main>
  </body>
</html>