.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 5px var(--accent);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  margin-right: 5rem;
  display: flex;
  gap: 3rem;
  font-family: monospace;
  font-size: 1.5rem;
}

.navbar-links a {
  background-color: transparent;
  color: var(--text);
  font-size: 1.2rem;
  border-radius: 0;
  transition: 1s;
  box-shadow:  var(--accent) 5px 5px;
  border: 2px solid var(--accent);
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-links a:hover {
  box-shadow: none;
}

.navbar img {
 max-width: 5rem;
 max-height: auto;
 margin-left: 4rem;
 cursor: pointer;
}

#mode-toggle {
  max-width: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
}